# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
*.so

# Virtual Environment
venv/
ENV/
env/
env.bak/
venv.bak/

# Fortran
*.o
*.mod
*.so

# Doxygen
docs/html/
docs/xml/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# dirs
.lectures/
.notes/
